page-main {

  ion-navbar{
    height: 50px;
    box-shadow: 0px 0px 20px 1px black;
  }
  .mainHeader{
      background-color: white;
      text-align: center;

      // border-bottom: 5px solid black;

      h2{
        color: black;
        padding-bottom: 5px;
      }
  }

  .mainContainer{
    background-image: url('../../assets/imgs/backgroundLarge.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    .innerContainer{
      background-color: rgba(255, 255, 255, .8);
      border-radius: 10px;
      color: white;
      text-align: center;
    }
  }

  .scroll-zoom-wrapper {
    white-space: nowrap;
  }

  ion-card {
    padding-top: 30px;
    width: 180px !important;
    height: 250px;
    display: inline-block;


  }


  ion-scroll {
    min-height: 400px;
    height: auto;

    .scroll-content {
      padding: 0px !important;
    }
  }

  // .buttonClass{
  //   // background-color: red;
  //   border: 1px solid black;
  //   margin: auto;
  //   text-align: center;
  //   display: flex;
  //   justify-content: center;

    ion-card-content{
     // border: 1px solid black;
     // width: 100px;
     height: 100px;
     margin: auto;
     // background-color: rgba(255,255,255, .8);
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     border-radius: 5px;
     color: black;

     ion-card-title{
       // border: 1px solid black;
     }
    }

    ion-card-content:hover{
      // background-color: rgba(192,192,192,0.8);
    }
  // }

}
