page-auth {
// background-color: #FFFFF0;
// font-family: Cairo;
ion-navbar{
  // border: 1px solid black;
  height: 50px;
  box-shadow: 0px 0px 20px 1px black;
}

  ion-title{
    text-align: center;
    background-color: #207068;
    // border-bottom: 1px solid black;
    // width: 50%;


    h2{
      // color: rgba(255,255,255, .5);
      color: #FFFFF0;
      padding-bottom: 5px;
    }
  }

  .mainContainer{
    width: 100%;
    height: 100%;
    background-color: #FFFFF0;
    // margin-top: -80px;
    padding-top: 40px;
  }
  ion-content{
    text-align: center;
    // border: 1px solid red;
    height: 100%;
    width: 100%;

    .logoDiv{

      width: 200px;
      height: 200px;
      // border: 1px solid black;
      margin: auto;
      margin-top: 80px;
      background-image: url('../../../assets/imgs/g4Logo.png');
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;

    }

    .hello{
      height: 150px;
      width: 80%;
      // border: 1px solid black;
      margin: auto;
      margin-top: 50px;
      color: black;
      display: flex;
      justify-content: center;
      align-items: center;
      div{
        background-color: #FFFFF0;;
        border-radius: 5px;
        padding: 10px;
      }
    }


  }

  .buttonCard{
    // background-color: red;
  }
  .signInPrompt{
    font-size: 18px;
    // color: #207068;
  }
}
