page-game-details {
    ion-content {
        ion-card {
            margin-top: 100px;
            margin: 20px;

            #card {
                height: 100%;
                
                #top {
                    display: flex;
                    height: 120px;
                    width: 100%;
                    margin-bottom: 20px;

                    #gameCover{
                        height: 100px;
                        width: 100px;
                        margin: 10px;
                    }
                    #name {
                        height: 50px;
                    }
                }
                #summary {
                    margin-bottom: 20px; 
                }
            }
        }
    }
}
