page-game-details {
    ion-content {
        ion-card {
            margin: 20px;
            ion-card-content {
                height: 100%;
                #name {
                    margin-bottom: 20px;
                    height: 50px;
                }
                #summary {
                    margin-bottom: 20px; 
                }
            }
        }
    }
}
