page-genre-populated {

  ion-navbar{
      height: 50;
      text-align: center;

      h2{
        margin-bottom: 15px;
      }
  }

  .backgroundContainer{
    width: 100%;
    height: 100%;
    background-image: url('../../../assets/imgs/backgroundLarge.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .mainContainer{
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: center;

      .gameContainer{
        width: 150px;
        height: 200px;
        border: 1px solid black;
        background-color: white;
        // margin: auto;
        margin-top: 15px;
        // display: flex;
        // flex-direction: column;
        // justify-content: center;
        // align-items: center;
        text-align: center;

        p{
          margin: 0;
          // border: 1px solid black;
        }
        .cover{
          width: 80%;
          height: 70%;
          margin: 0;
          // border: 1px solid black;
        }
      }
    }
  }
}
